.upload-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #007bff;
  }
  
  .upload-header {
    /* 样式化你的导航栏 */
  }
  
  .upload-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .upload-form {
    width: 80%;
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-upload-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .image-upload-block {
    text-align: center;
  }
  
  .image-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .image-upload-input {
    display: none; /* 隐藏原始输入框 */
  }
  
  .description-section {
    margin-bottom: 20px;
  }
  
  .description-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 100px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-around;
  }
  
  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #cccccc;
  }
  
  .submit-button {
    background-color: #0044cc;
    color: white;
  }
  