@import "~leaflet/dist/leaflet.css";

*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #08457D; 
    color: #ffffff;
    font-family: 'Arial', sans-serif; 
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: calc(100vw - 8rem);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin-bottom: -0.5rem;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.submit-button-container,
.cancel-button-container {
    margin: 0;
}


.submit-button-container button {
    padding: 0.5rem 1rem; 
    font-size: 1.1rem; 
    width: 130px; 
    height: 40px; 
    background-color: #FFEB3B; 
    color: black;
}

.cancel-button-container button {
    padding: 0.5rem 1rem; 
    font-size: 1.1rem; 
    width: 130px; 
    height: 40px; 
    background-color: white; 
    color: black;
}

.left-container {
    display: flex;
    flex-direction: column; 
    width: 50%; 
    max-width: 50%; 
    padding: 20px;
}


.map-container {
    display: flex;
    position: relative;
    width: 50%;
    max-width: 50%; 
    height: 350px; 
    min-height: 350px; 
}

button {
    background-color: #ffffff; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: -30rem;
}

.image-upload-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    padding: 1rem;
    margin-top: -2.5rem; 
}
  
.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    padding: 1rem;
    width: 90px;
    height: 90px;
    background-color: transparent;
    margin-bottom: 20px;
  }

  
.image-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
  
.image-preview {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.image-upload-plus {
    font-size: 24px;
    color: #ffffff;
}
  
.image-upload-input {
    display: none;
}
  
.image-upload-text {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }


.description-container {
    margin-top: -1.8rem;
}

.description-textarea {
    width: 100%; 
    max-width: 100%; 
    height: 100px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: -0.8rem;
    color: #707070;
}

.save-location-button {
    margin-top: 0rem;
    margin-bottom: -1rem; 
    background-color: white; 
    color: black;
}

  
button:hover {
    background-color: #ffffff; 
}

h4 + p {
    margin-top: -1rem;
}


.timestamp-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
  
.timestamp-container label {
    font-weight: bold;
    margin-right: 1rem;
    color: #ffffff;
    white-space: nowrap;
}
  
.timestamp-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000000;
    background-color: #ffffff;
}
  


@media (max-width: 768px) {

    .form-container,
    .left-container,
    .map-container,
    .buttons-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .map-container {
        height: 250px;
        order: 2;
        padding: 0;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }


    .page-container {
        margin: 1rem;
        max-width: calc(100vw - 2rem);
    }

    .buttons-container {
        flex-direction: row;
        order: 3;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .image-upload {
        width: 25vw; 
        height: 25vw; 
        margin: 2vw; 
        max-width: 90px;
        max-height: 90px;
    }

    .left-container form {
        margin-bottom: -1rem;
    }

    .submit-button-container,
    .cancel-button-container {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .cancel-button-container {
        order: 1;
    }

    .submit-button-container {
        order: 2;
        margin-left: 2rem;
    }


    .submit-button-container button {
        width: auto; 
        margin: 0 auto;
    }

    .cancel-button-container button {
        width: auto; 
        margin: 0 auto;
    }

    .description-container {
        margin-top: 1rem;
    }

    .description-textarea {
        height: 80px; 
    }

    .timestamp-container {
        flex-direction: column; 
        align-items: flex-start;
    }
    
    .timestamp-container label {
        margin-bottom: 1rem;
    }
}
